a{
	color: rgb(255,127,39);
	text-decoration: none;
}
a:hover{
	color: rgb(210,84,0);
}
div{
	margin: 5px;
}
label{
	cursor: pointer;
	display: inline-block;
}
fieldset{
	background: rgb(255,224,119);
	border: 5px rgb(0,0,0,0.2);
	border-radius: 5px;
	box-shadow:2px 0px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px #0C0C0C;
	-moz-box-shadow: 0 0 10px #0C0C0C;
	-ms-box-shadow: 0 0 10px #0C0C0C;
	-o-box-shadow: 0 0 10px #0C0C0C;
	box-shadow: 0 0 10px #0C0C0C;
    padding: 10px;
    max-width: 40%;
}
img{
	max-width: 90%;
	height: auto;
	padding: 10px;
}
#foto{
	height: auto;
	background:white;
	border-radius: 10px;
	padding: 5px;
	-webkit-box-shadow: 0 0 10px #0C0C0C;
	-moz-box-shadow: 0 0 10px #0C0C0C;
	-ms-box-shadow: 0 0 10px #0C0C0C;
	-o-box-shadow: 0 0 10px #0C0C0C;

}
#img{
	height: auto;
	max-width: 80%;
	background:transparent;
	text-align: center;
	border-radius: 10px;
	margin: 8px;
	padding: 5px;
	-webkit-box-shadow: 0 0 10px #0C0C0C;
	-moz-box-shadow: 0 0 10px #0C0C0C;
	-ms-box-shadow: 0 0 10px #0C0C0C;
	-o-box-shadow: 0 0 10px #0C0C0C;

}
input[type="file"]{
	opacity: 0;
	margin: -30px;
	cursor: pointer;
}
#img2{
	background-color: transparent;
	box-shadow: none;
}
.archivo{
	border-radius: 5px;
	background: #EEE;
	display: inline-block;
	font:bold 15px Arial, Helvetica, sans-serif;
	height: 25px;
	padding: 2px;
	margin: 0px;
	width: 150px;
    -webkit-box-shadow: 0 0 2px #0C0C0C;
	-moz-box-shadow: 0 0 2px #0C0C0C;
	-ms-box-shadow: 0 0 2px #0C0C0C;
	-o-box-shadow: 0 0 2px #0C0C0C;
	box-shadow: 0 0 2px #0C0C0C;

}
.archivo:hover{
	cursor: pointer;
	background: rgb(228,228,228);
}
.archivo:active{
	cursor: pointer;
	background: rgb(247,247,247);
}
.button{
	border-style: none;
	/*Estilo de degradado Para el boton*/
	background:linear-gradient(top,#00b7ea 20%,#009ec3 100%);
	/*Para poder visualizarlo en le navegador chrome*/
	background:-webkit-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
	/*Para poder visualizarlo en le navegador Morzilla*/
	background:-moz-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
	/*Para poder visualizarlo en le navegador Ms*/
	background:-ms-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
	
	box-shadow:2px 0px 4px rgba(0,0,0,0.2);
	/*Para poder visualizarlo en le navegador chrome*/
	-webkit-box-shadow:2px 0px 4px rgba(0,0,0,0.4);
	/*Para poder visualizarlo en le navegador Morzilla*/
	-moz-box-shadow:2px 0px 4px rgba(0,0,0,0.4);
	/*Para poder visualizarlo en le navegador Ms*/
	-ms-box-shadow:2px 0px 4px rgba(0,0,0,0.4);
    border-radius: 8px 8px 8px;
    color: rgb(216,216,216);
    cursor: pointer;
    font: bold 12px Arial, Helvetica, sans-serif;
    padding: 6px;
    margin: 12px;
    text-decoration: none;
}
.button:hover{
	color: #FFF;
}
.button:active{
	background: rgb(70,70,70);
}
.text{
	margin: 0px 10px 0px;
	border-radius: 5px;
	background: #EEE;
	border: none;
	font:bold 15px Arial,Helvetica, sans-serif;
	height: 25px;
	padding: 2px;

}
.cajaDes{
	max-width: 90%;
	color:black;
	background: white;
	float: left;
	width: auto;
	height: auto;
	text-align: left;
	border: 2px solid #E2E2E2;
	border-radius: 10px;
	margin: 8px;
	font-family: arial;
	font-size: 18px;
	padding: 5px;
	-webkit-box-shadow: 0 0 5px #0C0C0C;
	-moz-box-shadow: 0 0 5px #0C0C0C;
	-ms-box-shadow: 0 0 5px #0C0C0C;
	-o-box-shadow: 0 0 5px #0C0C0C;
}
.cajaDes:hover{
	-webkit-box-shadow: 0 0 10px #0C0C0C;
	-moz-box-shadow: 0 0 10px #0C0C0C;
	-ms-box-shadow: 0 0 10px #0C0C0C;
	-o-box-shadow: 0 0 10px #0C0C0C;
}
.cajaSola{
	display: inline;
	color:black;
	background: white;
	float: left;
	width: auto;
	height: auto;
	text-align: center;
	border: 2px solid #E2E2E2;
	border-radius: 10px;
	margin: 8px;
	padding: 10px;
	box-shadow: 0 0 5px #0C0C0C;
	-webkit-box-shadow: 0 0 5px #0C0C0C;
	-moz-box-shadow: 0 0 5px #0C0C0C;
	-ms-box-shadow: 0 0 5px #0C0C0C;
	-o-box-shadow: 0 0 5px #0C0C0C;
}
.cajaSola:hover{
	-webkit-box-shadow: 0 0 10px #0C0C0C;
	-moz-box-shadow: 0 0 10px #0C0C0C;
	-ms-box-shadow: 0 0 10px #0C0C0C;
	-o-box-shadow: 0 0 10px #0C0C0C;
}
.contenedor{
	border-radius: 10px;
	max-width: 80%;
	height: 504px;
	margin: auto;
	margin-top: 20px;
    text-align: center;
}



 /* Media query */
@media(min-width: 1080px){

}
@media(max-width: 1024px){
	section#contenedor{    
	    max-width:87%;
   }
   

}
@media(max-width: 800px){
	.cajaDes{
	max-width:90%;
	height: auto;
	font-size: 14px;
	
    }
	.cajaSola{
       max-width:40%;
	   width: 50%;
	  height: auto;
	
    }
    
    img{
	max-width: 90%;
	height: auto;
	
    }
 
    #img{
	width: 390px;
	height: 50px;
    }

}
@media(max-width: 768px){
	fieldset{
		max-width: 50%;
    }
}
@media(max-width: 685px){
	fieldset{
		max-width: 60%;
    }

}
@media(max-width: 600px){
	a{
		font-size: 12px;
	}
   .cajaDes{
	width: auto;
	height: auto;
	font-size: 12px;
    }	
	.cajaSola{
     
	font-size: 13px;
	max-width: 30%;
	height: auto;
    }
    img{
    padding: 0px;
	max-width: 100%;
	height: auto;
    }
    #img{
	width: 250px;
	height: 40px;
    }

}
@media(max-width: 568px){
	fieldset{
	   max-width: 100%;
   }
   section#contenedor{    
	   max-width:87%;
   }
   input[type="file"]{
        font-size: 9px;
    }
}
@media(max-width: 480px){
	
}
@media(max-width: 380px){
	
}
@media(max-width: 320px){
	fieldset{
	   padding: 5px 0px 0px;
    }
	label{
		font-size: 12px;
	}
	.text{
     width: 220px;
    }

}
@media(max-width: 240px){
	fieldset{
	   padding: 5px 0px 0px;
	   max-width: 40%;
    }
    label{
		: 12px;
	}
    section#contenedor{    
		padding: 2px;
		max-width:87%;
   }
   .text{
		width: 150px;
		height: 25px;
		margin: 0px;
    }
}
